h1 {
    text-align: right;
    color: black;
    text-decoration: blue underline;
    width: 50%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 69px;
    font-family: Verdana;

    h2 {
        color: brown;
        text-align: left;
        font-weight: bolder;
    }

    p {
        text-align: left;
        line-height: 1.15;

    }

    a {
        text-decoration: none;
    }